# 4.8 Grouping data and aggregating variables

## Contents:

01. Import libraries
02. Import datasetsÂ¶
03. Group data and aggregate mean
04. Create loyalty flag for existing customers using the transform() and loc() functions
05. Identify spending habits of the three types of customers
06. Identify average spending price for each customers
07. Identify user's ordering frequency
08. Export dataframes

## 01. Import libraries

In [3]:
# import libraries

import pandas as pd
import numpy as np
import os

## 02. Import datasets

In [5]:
# import datasets

path = r'/Users/analazarevska/Documents/CAREER FOUNDRY/Data Analytics Program/Data Immersion/A4, Python Fundamentals for Data Analysts/Achievement 4/07-2024 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new1.pkl'))

## 03. Group data and aggregate mean

In [6]:
# first step: check shape of dataframe

ords_prods_merge.shape

(32404859, 20)

In [9]:
# second step: check columns and first rows of dataframe

ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Two least busy days,Average orders,10,New customer
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Two least busy days,Average orders,10,New customer
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Two least busy days,Most orders,10,New customer
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Two least busy days,Most orders,10,New customer
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Two least busy days,Most orders,10,New customer
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Two least busy days,Most orders,10,New customer

In [11]:
# group data by departnemt_id and find aggregated mean of order_number column

ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

### How is the mean result different for whole dataframe and subset?

The means for all 21 departments are similar when applied to the whole dataframe and to the subset of 1 million rows. The subset contained the first 6,474 customers, while the whole dataframe includes 206,209 customers. It means that the purchasing interests of the customers are similar around the dataframe.

## 04. Create loyalty flag for existing customers using the transform() and loc() functions

In [13]:
# create max_order column with results from transform() function on the âorder_numberâ column grouped by user_id

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/cd/qrn0mbpn33xd1226hwqc_kn00000gn/T/ipykernel_99112/2082692073.py:3: FutureWarning: The provided callable <function max at 0x10493fc40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Two least busy days,Average orders,10,New customer
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Two least busy days,Average orders,10,New customer
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Two least busy days,Average orders,10,New customer

In [17]:
# create flag for loyalty labels

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [21]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [23]:
ords_prods_merge['loyalty_flag'].value_counts()

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [25]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
2,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
3,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer
4,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer

## 05. Identify spending habits of the three types of customers

In [27]:
# find mean prices grouped by customer category

ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal customer      10.386336
New customer        13.294670
Regular customer    12.495717
Name: prices, dtype: float64

### How do prices differ between customer categories?

Even though there are fewer new customers than both loyatly and regular customers, they purchase more expensive products on average than the other two types of customers. The products they buy are 1 dollar more expensive than the products that the regular customers buy. The loyalty customers purchase the cheapest products, spending 10 dollars on average.

## 06. Identify average spending price for each customers

In [29]:
# create spending_flag column for each user based on the average orders price

ords_prods_merge['spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/cd/qrn0mbpn33xd1226hwqc_kn00000gn/T/ipykernel_99112/1374057835.py:3: FutureWarning: The provided callable <function mean at 0x10495c680> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['spending'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [31]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending
0,2539329,1,1,2,8,0.0,196,1,0,both,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2539329,1,1,2,8,0.0,14084,2,0,both,...,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
2,2539329,1,1,2,8,0.0,12427,3,0,both,...,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
3,2539329,1,1,2,8,0.0,26088,4,0,both,...,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
4,2539329,1,1,2,8,0.0,26405,5,0,both,...,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797

In [33]:
# create spending flag function for each user based on average price

ords_prods_merge.loc[ords_prods_merge['spending'] < 10, 'spending_flag'] = 'Low spender'

In [34]:
ords_prods_merge.loc[ords_prods_merge['spending'] >= 10, 'spending_flag'] = 'High spender'

In [37]:
ords_prods_merge['spending_flag'].value_counts()

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [39]:
ords_prods_merge.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,department_id,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag
32404854,2977660,206209,13,1,12,7.0,14197,5,1,both,...,9,5.6,Mid-range product,Regularly busy,Two busiest days,Most orders,13,Regular customer,7.058915,Low spender
32404855,2977660,206209,13,1,12,7.0,38730,6,0,both,...,19,5.9,Mid-range product,Regularly busy,Two busiest days,Most orders,13,Regular customer,7.058915,Low spender
32404856,2977660,206209,13,1,12,7.0,31477,7,0,both,...,19,4.2,Low-range product,Regularly busy,Two busiest days,Most orders,13,Regular customer,7.058915,Low spender
32404857,2977660,206209,13,1,12,7.0,6567,8,0,both,...,19,4.9,Low-range product,Regularly busy,Two busiest days,Most orders,13,Regular customer,7.058915,Low spender
32404858,2977660,206209,13,1,12,7.0,22920,9,0,both,...,19,1.7,Low-range product,Regularly busy,Two busiest days,Most orders,13,Regular customer,7.058915,Low spender

## 07. Identify user's ordering frequency

In [41]:
# Create order frequency flag that marks the regularity of a userâs ordering behavior according to the median in the âdays_since_prior_orderâ column

ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/cd/qrn0mbpn33xd1226hwqc_kn00000gn/T/ipykernel_99112/2361308739.py:3: FutureWarning: The provided callable <function median at 0x104a73380> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [43]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency
0,2539329,1,1,2,8,0.0,196,1,0,both,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2539329,1,1,2,8,0.0,14084,2,0,both,...,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
2,2539329,1,1,2,8,0.0,12427,3,0,both,...,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
3,2539329,1,1,2,8,0.0,26088,4,0,both,...,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
4,2539329,1,1,2,8,0.0,26405,5,0,both,...,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0

In [45]:
# create frequency flag function for each user based on median days_since_prior_order

ords_prods_merge.loc[ords_prods_merge['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [47]:
ords_prods_merge.loc[(ords_prods_merge['frequency'] > 10) & (ords_prods_merge['frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [49]:
ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [51]:
ords_prods_merge['frequency_flag'].value_counts()

frequency_flag
Frequent customer        22796659
Regular customer          6921472
Non-frequent customer     2686728
Name: count, dtype: int64

In [53]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,1,2,8,0.0,14084,2,0,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,1,2,8,0.0,12427,3,0,both,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,1,2,8,0.0,26088,4,0,both,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,1,2,8,0.0,26405,5,0,both,...,Low-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

## 08. Export dataframes

In [55]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_new2.pkl'))